@require(EDITOR, EDITOR_URL)
<!doctype html>
<html>
<head>
<title>lotek</title>
<script src="/static/vendor/npm/mithril@@2.0.4/mithril.js"></script>
<link rel="stylesheet" href="/static/vendor/npm/spectre.css@@0.5.9/dist/spectre.min.css">
<link rel="stylesheet" href="/static/vendor/npm/spectre.css@@0.5.9/dist/spectre-exp.min.css">
<link rel="stylesheet" href="/static/vendor/npm/spectre.css@@0.5.9/dist/spectre-icons.min.css">
<link rel="stylesheet" href="/static/base.css">

<script type="text/javascript">
var EDITOR_URL = "@EDITOR_URL";
const registry = {};
registry.registry = registry;
registry.onload = [];

window.addEventListener(
    'load',
    function() {
        (async function() {
            const plugins = [
                "/static/layout.js",
                "/static/view.js",
                "/static/title.js",
                "/static/search.js",
                "/static/category.js",
                "/static/user.js",
                "/static/pdf.js",
                "/static/tag.js",
                "/static/kanban.js",
                "/static/uncategorized.js",
                "/static/@{EDITOR}.js",
                "/static/debug.js"
            ];

            for (const filename of plugins) {
                const plugin = await import(filename);
                for (let name in registry) {
                    if (registry[name] instanceof Array) {
                        registry[name].push(...(plugin[name] || []));
                    } else {
                        Object.assign(registry[name], plugin[name] || {});
                    }
                }
            }

            for (const f of registry.onload) {
                f();
            }
        })();
    }
);
</script>
</head>
<body>
</body>
</html>
