@require(PLUGINS, USER, CSRF_TOKEN, FORMATS)
<!doctype html>
<html>
<head>
<title></title>
<script src="/static/vendor/npm/mithril@@2.0.4/mithril.js"></script>
<script src="/static/vendor/npm/mithril@@2.0.4/stream/stream.js"></script>
<script src="/static/vendor/npm/htm@@3.1.0/dist/htm.js"></script>
<script src="/static/vendor/npm/construct-ui@@0.3.1/lib/construct-ui.min.js"></script>
<script src="/static/vendor/npm/fuse.js@@6.5.3/dist/fuse.js"></script>
<link rel="stylesheet" href="/static/vendor/npm/construct-ui@@0.3.1/lib/index.css">
<link rel="stylesheet" href="/static/base.css">

<script type="text/javascript">
let USER = @USER!json!e;
const CSRF_TOKEN = @CSRF_TOKEN!json!e;
const PLUGINS = [
    "layout",
    "changes",
    "search",
    "file",
    "wopi",
    "meta",
    "annotation",
].concat(@PLUGINS!json!e).concat([
    "record",
    "uncategorized",
]);
const FORMATS = @FORMATS!json!e;
</script>

<script src="/static/init.js"></script>
</head>
<body>
</body>
</html>
