html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.row-flex {
    display: flex;
    flex-flow: row nowrap;
}

.column-flex {
    display: flex;
    flex-flow: column nowrap;
}

nav {
    padding: 0.5em;
    flex-grow: 1;
}

nav a {
    color: #54647a;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    border-radius: 0.2em;
    padding: 0.4em 1em;
}

nav a:focus {
    outline:none;
}

nav a:hover {
    color: #54647a;
    background: #dde4e7;
    text-decoration: none;
}

nav a.active {
    background: #5c6bc0;
    color: #fff;
}

div.timeline div.event {
    padding: 0.5em 0 0.5em 1.5em;
}

div.timeline div.event div.title {
    background: #eee;
    padding: 0.2em 1em;
    margin: 0.25em 0;
    margin-left: -1em;
    border-radius: 1em 0 0 1em;
}
